<!DOCTYPE html>
<html>
  <head>
    <meta name="pypi:repository-version" content="1.0">
    <title>{% block title %}Links for {{ project }}{% endblock %}</title>{% block head %}{% endblock %}
  </head>
  <body>
    {% block header %}<h1>Links for {{ project }}</h1>{% endblock %}
{% block content %}{% for file in files %}    <a href="{{ file.url }}{% if file.sha256 %}#sha256={{ file.sha256 }}{% endif %}">{{ file.filename }}</a><br/>
{% endfor %}{% endblock %}    {% block footer %}{% endblock %}
  </body>
</html>
